
BODY          { margin-left: 20px}
LI            { margin-top: 6pt}
/*tr.dark       { background-color: #99BBDD; text-align: left}*/
tr.dark       { background-color: #B3CCEB; text-align: left}
/*tr.light      { background-color: #DDEEFF; text-align: left}*/
tr.light      { background-color: #E9EEF5; text-align: left}
td.title      { background-color: #B3CCEB;
		font-family: verdana, arial, helvetica, sans-serif;
		font-size: 21pt;
		color: darkblue;
		text-align: left}
td.header     { font-family: verdana, arial, helvetica, sans-serif;
		font-size: 9pt;
		font-weight: bold;
		color: darkblue;
		text-align: left;
		}
td.content     { font-family: verdana, arial, helvetica, sans-serif;
		 font-size: 9pt;
		 color: #000000;
		 background-color: #DDDDDD;
		 text-align: left;
		 }
td.dark        { font-family: verdana, arial, helvetica, sans-serif;
		 font-size: 9pt;
		 color: #000000;
		 background-color: #B3CCEB;
		 text-align: left;
		 letter-spacing: -1px;
		 }
/* No word or letter spacing, add border properties, change color of the vertical lines, start font with arial */
td.toplinks  { border-top:1px solid; border-left:1px solid; border-color:#5084D0;
    font-family: arial, verdana, helvetica, sans-serif;
		 font-size: 8pt;
		 color: #003399 ;
		 text-indent:0.02in;
		 text-align: right;}
/* New definition */
td.sagheader  { border-top:1px solid; border-left:1px solid; border-color:#5084D0;
     text-indent:0.02in; font-size:8pt; font-family:arial,helvetica,verdana,sans-serif; color:#000000;}
/* New definition */
.sagfooter    { border-bottom:1px solid; border-left:1px solid; border-color:#5084D0;
             text-indent:0.02in; font-size:8pt; font-family:arial,helvetica,verdana,sans-serif; color:#999999;}
/* New definition */
.subsystem { font-size:9pt; font-family:arial,helvetica,verdana,sans-serif; font-weight:bold; color:#999999; 
             vertical-align:bottom; text-align:left;} 
/* New definition */
.version   { font-size:8pt; font-family:arial,helvetica,verdana,sans-serif; font-weight:normal; color:#999999; 
             vertical-align:bottom; text-align:left;}

.remarks   { font-family: verdana, arial, helvetica, sans-serif;
		font-size: 9pt;
		text-align: left;
		margin-left: 5%;
		margin-right: 5%;
		padding-top: 2em;}
.inactive	{ color: #999999 ; }
.greylink	{ font-family: verdana, sans-serif;
		 font-size: 7pt;
		 color: #AAAAAA ;
		 text-align: left;
		 letter-spacing: -1px;
		 }


/* Links */

a:link          { text-decoration:none; color:#000000;}
a:visited       { text-decoration:none; color:#000000;}
a:active        { font-weight:regular; color:#000000;}
a:hover         { font-weight:regular; text-decoration:none; color:#003399; background-color:#EEEEEE; }

.copyright    { font-size: 8pt;
                font-family: verdana, arial, helvetica, sans-serif;
                color: #999999;
                text-align: right}
@media print {.hide  {visibility: hidden}}

/* Settings used in Tamino framework pages */
td.docset1, td.docset2, td.docset3, td.content1, td.content2, td.titleIndex {
		  font-family: verdana, arial, helvetica, sans-serif; }
td.docset1	{ font-size: 20pt; color: darkblue; }
td.docset2	{ font-weight: bold; font-size: 12pt; color: black }
td.docset3	{ font-weight: bold; font-size: 10pt; color: black }
td.content1	{ font-size: 9pt; color: #000000; word-spacing: .5em }
td.content2	{ font-size: 8pt; color: #5F6683; }
td.titleIndex   { font-size: 21pt; color: darkblue; background-color: #B3CCEB; }
