/**************************************************************/
/* Standard HTML formatting                                   */
/**************************************************************/
BODY         { margin-left:20px; }
H1           { color:#003399; margin-top:0;}
H2           { color:#0251B8; }
H6           { color:#000099; font-size:10pt; font-family:arial,helvetica,verdana,sans-serif; margin-top:5pt; margin-bottom:5pt; }
LI           { margin-top:6pt; }
DL	     { margin-left: 15pt; }
DT           { font-weight:bold; margin-top:10pt; }
DD           { margin-top:6pt; margin-bottom:6pt; }
table        { margin-top:6pt; }
table.color  { margin-top:6pt; background-color:#E9EEF5; }
table.screen { margin-top:6pt; background-color:#E9EEF5; }
table.small  { margin-top:6pt; font-size:10pt; }
TD           { border-color:white; vertical-align:top; }
TD.bar       { font-size:5pt; }
TD.logo      { border-color:white; vertical-align:middle; }
TH           { border-color:white; background-color:#B3CCEB; }
caption      { font-size:12pt; font-weight:bold; color:#000099; font-family:arial,helvetica,verdana,sans-serif; text-align:center; }
.bottom      { vertical-align:bottom; }
.middle      { vertical-align:middle; }
/*.barcolor    { background-color:#f74900; }*/
/*.color3      { background-color:#ff6600; }*/
/*.dark        { background-color:#ff7000; }*/
/*.syntax      { background-color:#ffffff; margin-top:20pt; margin-bottom:20pt; margin-left:20pt; }*/
/* .graphic     { background-color:#ff00cc; margin-top: 20pt; margin-bottom: 20pt; margin-left: 20pt; margin-right: 20pt; } */
/* .objecttitle { background-color:#ffffcc; margin-top:20pt; margin-bottom:20pt; margin-left:20pt; margin-right:20pt; } */
td.syntax, p.syntax     { font-size:10pt; color:#000099; vertical-align:middle; font-family:arial,helvetica,verdana,sans-serif; }
.smallhead   { font-size:10pt; font-weight:bold; vertical-align:bottom; }
/* td.copyright { font-size:8pt; font-family:arial,helvetica,verdana,sans-serif; color:#999999; text-align:right; } */
.copyright   { font-size:8pt; font-family:arial,helvetica,verdana,sans-serif; color:#999999; }
.arrow       { margin-top:-7px; margin-bottom:-7px; }
pre.small    { font-size:9pt; }

/* print or noprint: uncomment the next two lines for Natural native HTML */
/* .print       { visibility: hidden; position: absolute}   */
/*.noprint     { background-color: #cccccc;}                */

/* Natural tables syntax stuff  */
TD table.syntax { FONT-FAMILY: monospace; FONT-SIZE: 70%; background-color: #FFFFFF; border:0px;} /* for compatibility reasons (XML/HTML) */
table.syntax    { FONT-FAMILY: monospace; FONT-SIZE: 100%; background-color: #FFFFFF; border:1px solid #000000;}
table.syntax tt  { FONT-FAMILY: monospace; FONT-SIZE: 100%;}
table.syntax TD { border-color: white; vertical-align: middle;}
table.syntax A:hover { background: #E9EEF5;}
table.syntax A:link, table.syntax A:visited, table.syntax A:active {text-decoration: none; color: black}

/**************************************************************/
/* formatting of classes generated from XML sources           */
/**************************************************************/

/* inline text */

/* references to other sources */
cite   {  }

/* programming items, sgml/xml items - used in Natural syntax diagrams */
code.keyword { font-weight: bold; }

/* indication of glossary entry */
dfn    {  }

/* program snippets */
samp   {  }

/* replaceable placeholders */
var    {  }

/* command button in a GUI */
.guibutton   { font-weight: bold; }

/* any non-selectable label in a GUI */
.guilabel    {  }

/* selectable label*/
.selectable_label  { font-weight: bold; }

/* name of a selectable GUI menu */
.guimenu     { font-weight: bold; }

/* name of a selectable GUI menu command */
.guimenuitem { font-weight: bold; }

/* selectable item in any list in a GUI */
.guilistitem { font-weight: bold; }

/* name of a key on the keyboard */
.key         { font-size: smaller; }

/* boxed syntax (adapt the color to the light shade used for your product) */
/* table.syntax { background-color:#000099; } */
/* table.box    { background-color:#E9EEF5; } */
/* pre.box      { background-color:#E9EEF5; } */
          
/* White-space sensitive stuff */
pre.verbatim td  { background-color:#000000; }
.command-input { background-color:#E9EEF5; font-weight: bold; font-family: Arial, Helvetica, sans-serif;}
.syntax-example { background-color:#E9EEF5; font-weight: bold; font-family: Arial, Helvetica, sans-serif;}
.verbatim { background-color:#E9EEF5; }
.system-output { background-color:#E9EEF5; }
.text { background-color:#E9EEF5; }
/* planning information in draft documents */
pre.planning {
  margin-top: 3pt;
  margin-bottom: 3pt;
  margin-left: 0.25in;
  display: block;
  white-space: pre;
  font-family: Courier;
  background-color: #FFC0C0;
}


/* to control vertical spacing of paragraphs within list items */
p.initem         { margin-top:0.07in; margin-bottom:0in; }

/* to control vertical spacing of nested lists */
li.nesteditem    { margin-top:0in; margin-bottom:0in; }

/* to control vertical spacing of paragraphs within nested lists */
p.innesteditem   { margin-top:0in; margin-bottom:0in; }

/* to control vertical spacing of paragraphs within lists in instructions */
p.instep         { margin-top:0.07in; margin-bottom:0in; }
ol.steps         { margin-top:0.07in; }
li > pre         { margin-top:0.07in; margin-bottom:0in; }
li > table       { margin-top:0.07in; margin-bottom:0in; }

/* to control vertical spacing of paragraphs within definition lists */
DD > P { margin-top:0.07in; margin-bottom:0in; }

/* to control symbols in nested lists */
UL LI UL     { list-style-type:disc; }
OL LI UL     { list-style-type:disc; }
OL LI OL     { list-style-type:lower-alpha; }

/* to control appearance of new-style top navigation area */
.header    { border-top:1px solid; border-left:1px solid; border-color:#5084D0;
             text-indent:0.02in; font-size:8pt; font-family:arial,helvetica,verdana,sans-serif; 
             color:#999999; background-color:#FFFFFF;}
.footer    { border-bottom:1px solid; border-left:1px solid; border-color:#5084D0;
             text-indent:0.02in; font-size:8pt; font-family:arial,helvetica,verdana,sans-serif; 
             color:#999999; background-color:#FFFFFF;}
.topline   { background-color:#FFFFFF; vertical-align:bottom;}
.toplinks  { font-family:arial,helvetica,verdana,sans-serif; font-size:8pt; color:#003399;
             border-top:1px solid; border-left:1px solid; border-color:#5084D0; text-align:right;
             background-color:#FFFFFF;}
.bottomlinks  { font-family:arial,helvetica,verdana,sans-serif; font-size:8pt; color:#003399;
             border-bottom:1px solid; border-left:1px solid; border-color:#5084D0; text-align:right;
             background-color:#FFFFFF;}
.inactive  { color:#999999; }
.subsystem { font-size:9pt; font-family:arial,helvetica,verdana,sans-serif; font-weight:bold; color:#999999; 
             vertical-align:bottom; text-align:left;} 
.version   { font-size:8pt; font-family:arial,helvetica,verdana,sans-serif; font-weight:normal; color:#999999; 
             vertical-align:bottom; text-align:left;}
.module    { font-size:8pt; font-family:arial,helvetica,verdana,sans-serif; font-weight:normal; color:#999999; 
             vertical-align:bottom; text-align:left;}

/* Links */

a:link.navig    { text-decoration:none; color:#000000;}
a:visited.navig { text-decoration:none; color:#000000;}
a:active.navig  { font-weight:regular; color:#000000;}
a:hover.navig   { font-weight:regular; text-decoration:none; color:#003399; background-color:#EEEEEE; }
